---
import { INDEX_PAGE_ID } from '../server-constants.ts'
import { getAllBlocksByBlockId } from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NotionBlocks from '../components/NotionBlocks.astro'


const blocks = await getAllBlocksByBlockId(INDEX_PAGE_ID)
---

<Layout>
    <div slot="main">
      <NotionBlocks blocks={blocks} isRoot={true} />
    </div>
  
    <script>
      document.addEventListener("DOMContentLoaded", function() {
    // 指定のURLの場合にだけ実行
    if (window.location.href === "https://funakidaisuke.work/") {
        let aside = document.querySelector("aside");
        if (aside) {
            aside.style.display = "none";
        }
    }
});
        /* var styleElm = document.createElement('style');
        styleElm.innerText = 'aside { display: none; }';
        document.getElementsByTagName('head').item(0).appendChild(styleElm); */
    </script>
   <div slot="aside"></div>
  </Layout>